.button {
    color: #F4F5FB;
    background: #4B5671;
    border-radius: 20px;
    border: 0;
    padding: 5px;
}

.button:hover {
    color: #4B5671;
    background: #F4F5FB;
}

.wideButton {
    color: #F4F5FB;
    background: #4B5671;
    width: 100%;
    border-radius: 20px;
    border: 0;
    padding: 5px;
}

.wideButton:hover {
    color: #4B5671;
    background: #F4F5FB;
}