$color-white: #FFFFFF;
$color-light-blue: #30E0FF;
$color-blue: #3131FF;
$color-dark-blue: #0F1032;
$color-purple: #201F46;
$color-light-grey: #F4F5FB;
$color-grey: #4B5671;
$color-error: red;

.button, .wideButton, .buttonDay, .wideButtonDay {
    border-radius: 20px;
    border: 0;
    padding: 5px;
    width: 120px;
    text-align: center;
    cursor: pointer;
}

.button, .wideButton {
    color: $color-dark-blue;
    background: $color-white;
}

.wideButton {
    width: 100%;
}

.button:hover, .wideButton:hover {
    color: $color-white;
    background: $color-blue;
}

.buttonDay, .wideButtonDay {
    background: $color-blue;
    color: $color-white;
}

.wideButtonDay {
    width: 100%;
}

.buttonDay:hover, .wideButtonDay:hover {
    background: $color-dark-blue;
    color: #F4F5FB;
}