.button, .wideButton {
    border-radius: 20px;
    border: 0;
    padding: 5px;
    color: #F4F5FB;
    background: #4B5671;
}

.wideButton {
    width: 100%;
}

.button:hover, .wideButton:hover {
    color: #4B5671;
    background: #F4F5FB;
}

.buttonDay, .wideButtonDay {
    border-radius: 20px;
    border: 0;
    padding: 5px;
    background: #F4F5FB;
    color: #4B5671;
}

.wideButtonDay {
    width: 100%;
}

.buttonDay:hover, .wideButtonDay:hover {
    background: #4B5671;
    color: #F4F5FB;
}