<html>
  <body>
    <form method="POST" action="/tokens">
      <%- captcha %>
      <input type="text" name="captcha">
      <br/>
      address:
      <input type="text" name="address">
      <button type="submit">Submit</button>
    </form>
    <span><%= message %></span>
  </body>
</html>