header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 24px 0;

  .logo {
    font-size: 1.3em;
    line-height: 1em;
  }

  .toolbar {
    svg.fa-user-circle {
      width: 1.4em !important;
      height: unset;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}