$color-white: #FFFFFF;
$color-light-blue: #30E0FF;
$color-blue: #3131FF;
$color-dark-blue: #0F1032;
$color-purple: #201F46;
$color-light-grey: #F4F5FB;
$color-grey: #4B5671;
$color-error: red;

.dayTitle, .nightTitle {
    font-size: 14px;
    margin-top: 16px;
}

.dayTitle {

}

.nightTitle {

}