// font global imports

@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600,700");

// mixin global sizes

$mobile: 500px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

$tablet: 501px;

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    @content;
  }
}

$desktop: 1000px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// color variables

$color-white: #FFFFFF;
$color-light-blue: #30E0FF;
$color-blue: #3131FF;
$color-dark-blue: #0F1032;
$color-purple: #201F46;
$color-light-grey: #F4F5FB;
$color-grey: #4B5671;
$color-error: red;

.center, .centerMobile{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.centerMobile{
  margin-top: 50px;
  margin-bottom:50px;
}

.div {
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

table, th, td {
  border: 5px solid $color-blue;
  border-collapse: collapse;
}

th,td {
  padding: 5px;
}

th {
  background-color: $color-dark-blue;
  color: $color-white;
}

table {
  margin-top: 20px;
}

.overflow {
    overflow-x: auto;
    width: 100%;
}

a:hover {
  background-color: transparent;
}